<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.metroapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/delhi_metro_logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/delhi_metro_logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cardview"></activity>
        <activity android:name=".RouteActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>